@media screen and (max-width: 576px) {
  .nav-content{
    justify-content: center;
    align-items: center;
    gap: 30px;

  }
  .nav-content h3{
    font-size: 1.5rem;
    margin: 5px 15px;
  }
  .banner-content h3{
    font-size: 1.8rem;
  }
 .nav-menu > li{
  display: none;
 }
.hambarger-menu{
  display: block;
  
}
.font-awesome{
  display: block;
}
.banner{
 flex-direction: column;
  flex-direction: column-reverse;
}

.banner-content{
 
 text-align: center;
}
.sponsors{
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  filter: grayscale(100%);
 
 
}

.popular-section-container{
  grid-template-columns: 1fr;
}



}