@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
   font-family: "Poppins", sans-serif;
   margin: 0;
}


/* shared style */
.dark-1{
  color: #3A3A3A;
}
.display-flex{
  display: flex;
}
/* nav bar styles here */

.header-section{
  max-width: 1200px;
 
 
  margin: 0 auto;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu, .font-awesome{
  display: flex;
  gap: 30px;
 
}
.nav-content > h3{
  font-weight: 700;
  font-size: 1.8rem;
}

.nav-menu li{
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

.hambarger-menu {
  display: none;
}
 .font-awesome{
  display: none;
 }
/* nav bar styles ends here */


/* banner section starts hare */
.banner{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.banner-img{
  max-width: 440px;
}
.banner-img > img{
  width: 100%;
  border: 3px solid rgb(241, 228, 255);
  border-radius: 50%;
  background: url(../images/Circle\ design.svg);
  background-position: center;
 
}
.banner-content{
  max-width: 580px;
}

.banner-title{
  color: rgb(58, 58, 58);
font-size: 3rem;
font-weight: 700;
margin: 0;

}
.banner-description{
  color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 600;
}
.banner-content button{
  color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 700;
border-radius: 20px;
padding: 10px 20px;
background: rgb(224, 44, 109);
border: none;
}
/* banner section ends hare */

/* sponsors style here */
.sponsors{
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 100px;
}
.sponsors{
  border-top: 1px solid gray;
  padding: 12px;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 5rem;
 


}

/* popular section starts here */
.popular-section>h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.popular-section{
  max-width: 1200px;
  margin: 0 auto;
}
 
.popular-section-container{

  margin: 0 auto;
  display: grid;
 
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 10px;

}
.popular-section-container .box{
  box-shadow: 10px 10px 10px #3A3A3A;
  border-radius: 10px;
  padding: 10px;
 

}
.box img{
  width: 100%;
}
.box h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: #131313;
  
}
.box h5 p{
 font-size: 1rem;
 color: #3A3A3A;
 font-weight: 500;
 text-align: left;
  
}
.see-more {
  
  text-align: right;
  margin-top: 30px;
}
.see-more a{
text-decoration: none;
  color:deeppink;
  font-size: 16px;
  font-weight: 600;
}
/* popular section ends here */

/* featured product related styles start  */
.featured-product{
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;

}
.featured-product-container{
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 10px;
}
.featured-content h3{
  font-size: 2rem;
  color: #131313;
  font-weight: 800;
  margin: 0;

}
.featured-content p{
  font-size: 16px;
  font-weight: 400;
  color: #3A3A3A;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Join-btn{
  background-color: deeppink;
  color: white;
  font-size:  16px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
}
.featured-img{
  width: 100%;
}
/* featured product related styles ends  */

.foot-container{
  background-color:rgb(7, 1, 14);
 
  padding: 30px;
}
.foot-container h3{
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.foot-container p{
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
  line-height: 1.5em;

}